{{- if .Values.ubbagent.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "molecular-audit-core.fullname" . }}-ubbagent
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "molecular-audit-core.labels" . | nindent 4 }}
data:
  config.yaml: |
    identities:
      - name: gcp
        gcp:
          encodedServiceAccountKey: ${MARKETPLACE_REPORTING_KEY_B64}
    metrics:
      - name: {{ .Values.ubbagent.metricName | quote }}
        type: int
        endpoints:
          - name: servicecontrol
    endpoints:
      - name: servicecontrol
        servicecontrol:
          identity: gcp
          serviceName: {{ .Values.ubbagent.serviceName | quote }}
          consumerId: ${MARKETPLACE_CONSUMER_ID}
{{- end }}
