resources:
  requests:
    cpu: "1"
    memory: 4Gi
  limits:
    cpu: "2"
    memory: 8Gi

storage:
  type: pvc
  pvc:
    storageClassName: standard
    size: 20Gi

job:
  activeDeadlineSeconds: 14400
