resources:
  requests:
    cpu: "2"
    memory: 8Gi
  limits:
    cpu: "4"
    memory: 16Gi

storage:
  type: pvc
  pvc:
    storageClassName: standard
    size: 50Gi

job:
  activeDeadlineSeconds: 21600
